<div style="margin:0!important;padding:0!important;background-color:#eeeeee">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border:0">
        <tbody><tr>
            <td></td>
            <td width="600">
             <div style="display:block;max-width:600px!important;width:100%;margin:0 auto">
        
        <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:100%;max-width:600px;min-width:296px;margin:0 auto">
            <tbody><tr>
                <td align="center">
                    
                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                        <tbody><tr>
                            <td align="center" valign="top">
                                <a href="http://www.espn.com/fantasy/football/" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.espn.com/fantasy/football/&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNEC7PsKk4TqU0mFEnoTcRSFaSMlJg">
                                    <img alt="ESPN Daily" src="https://ci3.googleusercontent.com/proxy/HrVLlp6lb7_4tovd2wXXcLic_4487_yDFJtJOWfgZSruW4C-1k5xfXxe_LyzUAkd39LCSnEbpp0cZVNNfUt5oIGH2wEA24OCMCoLtBtOZ4yg4A=s0-d-e1-ft#http://g.espncdn.com/lm-static/ffl17/images/email-header.png" width="600" height="127" border="0" style="width:600px;height:auto!important;max-width:100%;max-height:125px" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                    </tbody></table>
                    
                </td>
            </tr>

           
              <tr>
                <td align="center" bgcolor="#ffffff" style="background-color:#fff">
                    
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="90%" style="max-width:90%">
                    <tbody>
                        <tr>
                             <td align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#666;line-height:18px;padding:15px 0px 15px 0px;font-weight:400;border-bottom:1px solid #c6c6c8">The following trade has been accepted in your ESPN Fantasy Football league <span style="font-weight:700">Game of Incest</span>.
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#666666;line-height:16px;padding:15px 15px 8px 0px">To: <span style="font-weight:700">House Lannister GB (TM14) - jonathan  zerna
                            </span></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#666666;line-height:16px;padding:0px 15px 25px 0px">From: <span style="font-weight:700">Queen of the Anals (ANAL) - Dylan Meyer
                            </span></td>
                        </tr>
                        
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                                    <tbody><tr>
                                        <th valign="top" width="50%" class="m_-5462322139394796098stack-column-center" style="font-weight:400">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                             <tbody><tr>
                            <td align="left" style="font-size:18px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#00b4eb;line-height:18px;padding:0px 15px 0px 0px;white-space:nowrap">TM14 trades
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#333333;line-height:24px;padding:8px 15px 15px 0px;white-space:nowrap">
                            <span style="font-weight:700">A.J. Green</span>, Cin WR<br><br>
                            </td>
                        </tr>
                        </tbody></table>
                            </th>
                            <th valign="top" width="50%" class="m_-5462322139394796098stack-column-center" style="font-weight:400">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                             <tbody><tr>
                            <td align="left" style="font-size:18px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#00b4eb;line-height:18px;padding:0px 15px 0px 0px;white-space:nowrap">ANAL trades
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#333333;line-height:24px;padding:8px 15px 15px 0px;white-space:nowrap">
                            <span style="font-weight:700">Nelson Agholor</span>, Phi WR<br><span style="font-weight:700">Taba ;)</span>, Chi RB<br>
                            </td>
                        </tr>
                        </tbody></table>
                            </th>
                                    </tr>
                                </tbody></table>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" style="font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#666666;line-height:24px;padding:10px 0px 15px 0px">
                             pending review by your league members.  To review this trade and cast your vote to veto or allow it, <a href="http://games.espn.com/ffl/pendingtrades?leagueId=977855" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://games.espn.com/ffl/pendingtrades?leagueId%3D977855&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNET4zWtnE2yRXG-Jv9QEqeSWEw-bw">click here</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:15px 0px 15px 0px">
                                <a href="{{phishLink}}" style="outline:0" target="_blank">
                                    <img src="https://ci6.googleusercontent.com/proxy/RMW8eVOwyY5QJovg87v6WPDAptjfQHq2DXOFqOOeDU0K2S-p3YjGPdY204FitCgMMi9Ca_cNrOv6MEbtrUbTtXDbP0886TM_dXtwZogvGYzHm8RWlym74eVzxM9F3Q=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/btn-vote-trade-fullwidth.png" width="260" border="0" alt="Reply" style="display:block;width:260px" class="m_-5462322139394796098btn-full CToWUd">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:0px 0px 30px 0px">
                                <a href="http://games.espn.com/ffl/leagueoffice?leagueId=977855" style="outline:0" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://games.espn.com/ffl/leagueoffice?leagueId%3D977855&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNG6SK6STKXBzvenyNB069dZWF-Ydg">
                                    <img src="https://ci6.googleusercontent.com/proxy/jNfHB_GMKMOjG3RgA5N7TnkIM7Z2GbM0eh3GfNE7805-35NHvhaLSjfECWbECaaX0OxlE0zHwWPiF6OeTDmLbPd-yBAFThy8gINSOmERNH5Hj8gKajh3HhRQJjDoeW4=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/btn-league-home-fullwidth.png" width="260" border="0" alt="Reply" style="display:block;width:260px" class="m_-5462322139394796098btn-full CToWUd">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>        
                    
                </td>
            </tr>



            <tr>
                <td align="center">
                    
                    <table bgcolor="#ffffff" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                        <tbody><tr>
                            <td align="left" valign="top" style="border-bottom:1px solid #e2e3e5;padding:20px 15px">
                                
                                <div style="display:inline-block;max-width:100%;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%">
                                        <tbody><tr>
                                            <td align="left" valign="top">
                                                <a href="http://www.espn.com/espn/mobile/products/products?id=17145860" style="outline:0" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.espn.com/espn/mobile/products/products?id%3D17145860&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNHIfcUveYMoJEa-IhGr_uNOiPpk3w">
                                                    <img src="https://ci4.googleusercontent.com/proxy/8vzNZ2p9JKh3xFX_eqH5nyOAJ21CyRFAObddvCG18T-t5mEoGPm_qtLKU2onZLLbB0MJAPGr22HsUEUPVRP9Om7Mlyq0dwEYgolEOcW5rRjv4OITeR7RHQ=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/espnFantasyAppIcon.png" width="56" height="56" style="display:block;width:56px;height:56px" alt="ESPN Fantasy App" border="0" class="CToWUd">
                                                </a>
                                            </td>
                                            <td align="left" valign="top" style="font-size:16px;line-height:20px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;font-weight:bold;color:#1a1a1a;padding:5px 15px 0">
                                                <a href="http://www.espn.com/espn/mobile/products/products?id=17145860" style="outline:0;color:#1a1a1a;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.espn.com/espn/mobile/products/products?id%3D17145860&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNHIfcUveYMoJEa-IhGr_uNOiPpk3w">
                                                    ESPN Fantasy App
                                                     <span align="left" style="display:block;font-size:14px;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;color:#666666;line-height:18px;font-weight:normal">
                                                        Play the #1 fantasy football game as well as fantasy baseball, basketball, hockey, and casual sports games from ESPN in one place!
                                                    </span>
                                                </a>
                                            </td>
                                            <td align="left" valign="top">
                                                <a href="http://www.espn.com/espn/mobile/products/products?id=17145860" style="outline:0" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.espn.com/espn/mobile/products/products?id%3D17145860&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNHIfcUveYMoJEa-IhGr_uNOiPpk3w">
                                                    <img src="https://ci5.googleusercontent.com/proxy/PS-pDw8-3tdvqizlBFVypI83aIu84k6u-LbeUUoSSIF3oOo8-mZqlPKJWOpZ7kQzEjVkx-iIfClwKI4PSXes7o9fd3EW57DXacvBfpI=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/freeBTN.png" width="70" height="38" style="display:block;width:70px;height:38px" alt="Free" border="0" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>  
                                    </tbody></table>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody></table>
                    
                </td>
            </tr>

            <tr>
                <td align="center">
                    
                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                        <tbody><tr>
                            <td align="center" valign="top" style="border-bottom:1px solid #e2e3e5;padding:22px 15px 20px">
                                
                                <div style="display:inline-block;max-width:100%;min-width:100%;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%">
                                        <tbody><tr>
                                            <td align="left" valign="middle" width="150" style="color:#545556;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;font-size:14px;padding:4px 0;text-transform:uppercase;width:150px">
                                                Follow us
                                            </td>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tbody><tr>
                                                        <td align="right" valign="middle">
                                                            <a href="https://twitter.com/espn" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/espn&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNE30ItxBF_QtHtKp9DxxHMuZq4edQ">
                                                                <img src="https://ci6.googleusercontent.com/proxy/Ia4F6qURV_V4C-ZCDjVoFSryBQCr7m5Q-kiVCUE16D5GpMjugQdX4I-8bjBkJiQCuOTBkPFpghGFI58CIV9Rj21m-v3pbrngPs7atLQ=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/twitter.png" width="25" height="21" style="display:block;width:25px;height:21px" alt="Twitter" border="0" class="CToWUd">
                                                            </a>
                                                        </td>
                                                        <td align="right" valign="middle">
                                                            <a href="https://www.facebook.com/ESPN/" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/ESPN/&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNGZo9oxBqYFpUSR49wGqOOOR50Nrw">
                                                                <img src="https://ci3.googleusercontent.com/proxy/QeQ1rtpozmZ4RD8bRTwTHk2LMdy9KSWpSQ-sbU_top7Dqe5_AyEjLXMXeaiHpKanDsA9KR1gsdFx90H6qwbJgtiWBfdaTrQ531DedtB9=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/facebook.png" width="20" height="21" style="display:block;width:20px;height:21px" alt="Facebook" border="0" class="CToWUd">
                                                            </a>
                                                        </td>
                                                        <td align="right" valign="middle">
                                                            <a href="https://www.instagram.com/espn/" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.instagram.com/espn/&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNGuLD9L5YwBTXILxUZocm39r3dCjw">
                                                                <img src="https://ci4.googleusercontent.com/proxy/IjWIG3AFpCgGCKwiXTmjUShFKub1dH78glXwoE3A7C3up7GgToFBU5_CSYogdHiPMmIx8kuEmt0nfylM_CX07x3Gj8w-eD-mpKJf_ynr5A=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/instagram.png" width="20" height="21" style="display:block;width:20px;height:21px" alt="Instagram" border="0" class="CToWUd">
                                                            </a>
                                                        </td>
                                                        <td align="right" valign="middle">
                                                            <a href="https://www.snapchat.com/discover/ESPN/7296089122" style="outline:0;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.snapchat.com/discover/ESPN/7296089122&amp;source=gmail&amp;ust=1509148137401000&amp;usg=AFQjCNHtZbgioSlaUlE6En4kqUkk1rg0KA">
                                                                <img src="https://ci4.googleusercontent.com/proxy/BlvfbEP0qrw69n1EfNnzqvkfaKL25jXtve7aaUxxBRlLyzzWPDtD9a8v4eonpuuFfNAYMkXIc3ysYnQ9Izi17Ei0E0qXp8hQxPF4mF2k=s0-d-e1-ft#http://g.espncdn.com/lm-static/images/email/snapChat.png" width="20" height="21" style="display:block;width:20px;height:21px" alt="Snap Chat" border="0" class="CToWUd">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody></table>
                    
                </td>
            </tr>

            <tr>
                <td align="center">
                   
                    <table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                        <tbody><tr>
                            <td align="center" valign="middle" style="color:#717171;font-family:-apple-system,'Roboto',Helvetica,Arial,sans-serif;font-size:10px;line-height:15px;padding:25px 15px 25px">
                                © ESPN Internet Ventures. All Rights Reserved.
                            </td>
                        </tr>
                    </tbody></table>
                    
                </td>
            </tr>
        </tbody></table>
         
                </div>
                </td>
            <td></td>
            </tr>
        </tbody></table>

        
         <div style="display:none;white-space:nowrap;line-height:2px;color:#eeeeee">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        </div>
        
    <img src="https://ci4.googleusercontent.com/proxy/zweKPX5GAZTnO8hwkK6rsHOjAKGnOtONhUDo2GjDI4wleXE-2SMr2zbO044zvHnCK4u0FGed36jdCB0ikuQ-WrEIE5vnGLBUr5k5CHdHkjR7SZ2rbH3WOVKklHoTbb7D54WKQs4rupCfg-rnck8zF0tIeCYNvqD7BIrpn46F1ZQmPKCr7L8mdM8XQmoDkjstyLyT-226h1X02PK90jJXiECKAjaZ_sTKN5neWtDGW1QWrddqgoY2tIVRwpuAld58ww=s0-d-e1-ft#https://clk.go.com/c/62/bcasts/1124200594/view?dXNlcklkPTU5ZjI1MDI3NzMxNGQ1NTQ0ZjUyZmViMiZjaD1FTUFJTCZlYT1lcHRhYmFAZ21haWwuY29tJnNpZz1oWnVjeGJYNjl5ZkJFbzc4d2VGSkRFMl9rWjQ" width="1" height="1" class="CToWUd"></div>